.seccion{
  background: rgb(255,0,0);
background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 100%);
}

.main-content {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.left-section {
  grid-column: span 2.3;
  height: 100%;
  background-color: #ec1b1b;
}

.right-section {
  grid-column: span 6;
  background-color: #f7f7f7;
  height: 100%;
}

.left-content {
  padding: 2rem 3rem;
}
.profile {
  width: 100%;
  border-bottom: 1px solid #002333;
}

.image {
  width: 100%;
  text-align: center;
}
.profile img {
  width: 60%;
  border-radius: 15%;
  border: 8px solid #002333;
}

.name {
  font-size: 2rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.2rem 0;
}

.career {
  font-size: 1.2rem;
  color: #94d9ea;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.main-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f7f7f7ec;
  padding-top: 3rem;
}

.contact-info ul {
  padding-top: 2rem;
}

.contact-info ul li {
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
  color: #a9ccff;
}
.contact-info ul li i {
  padding-right: 1rem;
  font-size: 1.2rem;
  color: #2d9cdb;
}

.skills-section ul {
  padding-top: 2rem;
}
.skills-section ul li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.4rem 0;
}

.progress-bar {
  width: 100%;
  height: 0.4rem;
  background-color: #2f81ed5b;
  position: relative;
  border-radius: 12px;
}
.progress {
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #2d9cdb;
  border-radius: 12px;
}
.js-progress {
  width: 20%;
}
.ps-progress {
  width: 60%;
}
.j-progress {
  width: 35%;
}
.c-progress {
  width: 40%;
}
.n-progress {
  width: 63%;
}
.w-progress {
  width: 78%;
}

.skill-title {
  text-transform: uppercase;
  color: #f7f7f7;
  font-size: 1rem;
}

.sub-title {
  padding-top: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #f7f7f7;
}

.sub-para {
  color: #ccc;
  padding: 0.4rem 0;
}

.references-section li {
  color: #ccc;
  padding: 0.2rem 0;
}
.references-section li i {
  padding-right: 0.5rem;
  font-size: 1.2rem;
  color: #2d9cdb;
}

.right-main-content {
  padding: 2rem 2rem;
}

.right-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ff0000;
  margin-bottom: 1.2rem;
  position: relative;
}

.right-title::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 0.2rem;
  background-color: #ccc;
  border-radius: 12px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.para {
  line-height: 1.6rem;
  color: #718096;
  font-size: 1.1rem;
}

.sect {
  padding-bottom: 2rem;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tl-title {
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: #002333;
  text-transform: uppercase;
}
.tl-title-2 {
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: #2d9cdb;
  text-transform: uppercase;
}

.tl-content {
  padding-left: 1rem;
  position: relative;
  padding-bottom: 2rem;
}

.tl-title-2::before {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #2d9cdb;
  border-radius: 50%;
  transform: translateX(-50%);
  left: 0;
}





















.a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 200px;
  transition:.2s;
}

#sobrancelhas {
  transform: translateY(-9px);
  animation: sobrancelhas 5s linear infinite;
}

@keyframes sobrancelhas {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }

  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }

  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

#nariz {
  transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -moz-transform: translateY(-9px);
  animation: nariz 5s linear infinite;
}

@keyframes nariz {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }

  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }

  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

#boca {
  transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  animation: boca 5s linear infinite;
}

@keyframes boca {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }

  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }

  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

#olhos {
  transform: translateX(-2px);
  -moz-transform: translateX(-2px);
  -ms-transform: translateX(-2px);
  animation: olhos 2s linear infinite;
}

@keyframes olhos {
  0% {
    transform: translateX(-2);
    -ms-transform: translateX(-2);
    -moz-transform: translateX(-2);
  }

  25% {
    transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
  }

  75% {
    transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
  }

  100% {
    transform: translateX(2);
    -ms-transform: translateX(2);
    -moz-transform: translateX(2);
  }
}




#cabeca {
  transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -moz-transform: translateY(-9px);
  animation: cabeca 6s infinite;
}

@keyframes cabeca {
  0% {
    transform: translateY(-8);
  }

  25% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(8);
  }
}



#orelhas {
  animation: orelhas 6s linear infinite;
}

@keyframes orelhas {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }

  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }

  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}






/*Media Querries*/
@media screen and (max-width: 823px) {
  .right-title::after {
    width: 40%;
  }
}
@media screen and (max-width: 681px) {
  .right-title::after {
    width: 30%;
  }
}
@media screen and (max-width: 780px) {
  .timeline {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 780px) {
  .left-section {
    grid-column: span 3;
  }
  .right-section {
    grid-column: span 4;
  }
}
@media screen and (max-width: 1000px) {
  .main-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .profile img {
    width: 40%;
  }
}
@media screen and (max-width: 390px) {
  .name {
    font-size: 1.5rem;
  }
}
