<div class="seccion">
  <div class="container">
      <div class="izq">
        <app-tarea-lista></app-tarea-lista>
      </div>
      <div class="der">
        <app-tarea-form></app-tarea-form>
      </div>
  </div>
</div>